<appSettings>
  <add key="FacebookAppId" value="1774178516002761"/>
  <add key="FacebookAppSecret" value="a25479b3d52afc0481f8ea0b2dfd9021"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>